.container {
  width: 50%;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 1387px) {
  .container {
    width: 650px;
    padding: 20px;
    margin: 0 auto;
  }
}

.upinput {
  width: 100%;
  padding-bottom: 20px;
  background-color: #f3f9ff;
}

.formGroup {
  display: flex;
  flex-direction: column; /* 縦並びにする */
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.formGrouptime {
  display: flex;
  flex-direction: column; /* 縦並びにする */
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input[type='text'],
.input[type='date'],
.input[type='time'],
.textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submitButton {
  justify-content: center;
  width: 100%;
  height: 60px;
  padding: 8px 15px;
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 12px;
}

.url {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.message {
  width: 100%;
  height: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.labelname {
  width: 100%;
  font-size: 1.7em;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #868686;
}

.attention {
  width: 100%;
  margin-left: 14px;
  font-size: 1em;
  font-weight: bold;
  color: #636363;
}

.navigate {
  font-size: 1.2em;
  font-weight: bold;
  color: #494949;
}

.inputtitle {
  width: 90%;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.inputer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.memoarea {
  width: 90%;
  height: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.navigatememo {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: #494949;
}

.navigatestart {
  font-size: 0.9em;
  font-weight: bold;
  color: #666;
}

.navigateend {
  font-size: 0.9em;
  font-weight: bold;
  color: #494949;
}

.date {
  width: 100%;
  font-size: 1.6em;
  color: #333;
}

.time {
  width: 100%;
  font-size: 1.6em;
  color: #333;
}

.oldtitle {
  justify-content: center;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.eventList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.eventCard {
  display: flex;
  align-items: center;
  width: calc(50% - 10px);
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.eventCard:hover {
  box-shadow: 0 0 5px #ccc;
}

.eventInfo {
  padding: 10px;
}

.eventTitle {
  justify-content: center;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.eventDate {
  margin-bottom: 5px;
  font-size: 14px;
}

.eventLocation {
  font-size: 14px;
}

.oldevent {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
}

.old2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f3f3f3;
}

.oldlink {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}

.oldmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

@media (max-width: 1430px) {
  .oldmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 715px;
  }
}
