.container {
  width: 50%;
  padding: 20px;
  margin: 0 auto; 
}

.upinput {
  background-color: #f3f9ff;
  width: 100%;
  padding-bottom: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column; /* 縦並びにする */
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.formGrouptime {
  display: flex;
  flex-direction: column; /* 縦並びにする */
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input[type="text"],
.input[type="date"],
.input[type="time"],
.textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submitButton {
  justify-content: center;
  width : 100%;
  height: 60px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 8px 15px;
  margin-top: 40px;
  color: white;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 12px;
}

.url {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.message {
  width: 100%;
  height: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.labelname {
  width: 100%; 
  font-size: 1.7em;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #868686;
}

.navigate {
  font-size : 1.2em;
  font-weight: bold;
  color: #494949;
}

.inputtitle {
  width: 90%;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.inputer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.memoarea {
  width: 90%;
  height: 100px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.navigatememo {
  margin-top: 20px;
  font-size : 1.2em;
  font-weight: bold;
  color: #494949;
}

.navigatestart {
  font-size : 0.9em;
  font-weight: bold;
  color: #666;
}

.navigateend {
  font-size : 0.9em;
  font-weight: bold;
  color: #494949;
}

.date {
  width: 100%; 
  font-size: 1.6em;
  color: #333;
}

.time {
  width: 100%;
  font-size: 1.6em;
  color: #333;
}



.oldtitle {
  width: 50%; 
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.eventList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.eventCard {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: calc(50% - 10px);
  background-color:#ffffff;
  padding: 20px;
}

.eventCard:hover {
  box-shadow: 0 0 5px #ccc;
}


.eventInfo {
  padding: 10px;
}

.eventTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.eventDate {
  font-size: 14px;
  margin-bottom: 5px;
}

.eventLocation {
  font-size: 14px;
}

.oldevent {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  overflow: hidden;
  flex-direction: row;
  width: 50%;
  gap: 20px;
}

.old2 {
  width: 100%;
  justify-content: center;
  display:flex;
  align-items: center;
  flex-direction: column;
  background-color:#f3f3f3;
}

.oldlink {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}