.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.popupinner {
  width: 100%;
  max-width: 700px;
  padding: 32px;
  margin-bottom: 52px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.popuptitle {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
}

.popuplocation {
  margin-bottom: 8px;
  font-size: 16px;
}

.popupdate {
  margin-bottom: 16px;
  font-size: 16px;
}

.popupdetails {
  margin-bottom: 16px;
  font-size: 16px;
}

.popuptext {
  margin-bottom: 16px;
  font-size: 16px;
}

.forminput {
  margin-bottom: 16px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background-color: #333;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.buttonback {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background-color: #7c7c7c;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #444;
}

.popupbutton {
  display: flex;
  justify-content: space-between;
}

.line {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #646464;
}

.caution {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
  color: #1d1d1d;
}
