.formGroup {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.labels,
.textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitButton {
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
}

.submitButton:hover {
  background-color: #45a049;
}

.container {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.popupinner {
  position: relative;
  width: 50%;
  max-width: 90%;
  height: 50%;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
}

.popuptitle {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.popuptext {
  margin-bottom: 20px;
  font-size: 16px;
}

.popupbutton {
  display: flex;
  justify-content: center;
}

.popupbutton button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

.popupbutton button:hover {
  background-color: #0069d9;
}

.popuplocation {
  margin-bottom: 20px;
  font-size: 16px;
}

.popupdate {
  margin-bottom: 20px;
  font-size: 16px;
}

.popupdetails {
  margin-bottom: 20px;
  font-size: 16px;
}

.forminput {
  margin-bottom: 20px;
  text-align: left;
}
