.urlinput{
  height: 2.4em;
  width: 900px;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 17px;
  font-family:'Courier New', Courier, monospace;
}
.urlarea{
  display: block;
  width: 500px;
  height: 180px;
  padding: 4px 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 17px;
  font-family:'Courier New', Courier, monospace;
}