.urlinput {
  width: 900px;
  height: 2.4em;
  padding: 0 16px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
}

.urlarea {
  display: block;
  width: 500px;
  height: 180px;
  padding: 4px 16px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
}

.titledetail {
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  color: #747474;
}

.title {
  width: 100%;
  font-size: 1.7em;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.titlearound {
  display: flex;
  flex-direction: column; /* 縦並びにする */
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.container {
  width: 50%;
}

.timearound {
  display: flex;
  flex-direction: row; /* 横並びにする */
  align-items: center;
  justify-content: space-between; /* 左右に張り付ける */
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .timearound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
  }

  .starttime {
    width: 100%;
  }

  .endtime {
    width: 100%;
    margin-top: 18px;
  }

  .to {
    display: none;
  }
}

.to {
  margin-top: 7px;
  font-size: 35px;
  font-weight: bold;
}

.timedetail {
  width: 60%;
  font-size: 1em;
  font-weight: bold;
  color: #747474;
}

.time {
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #e0e0e0;
}

.event {
  display: flex;
  justify-content: center;
}

.detailofdetail {
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: #747474;
}

.detailaround {
  display: flex;
  flex-direction: column; /* 縦並びにする */
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 100px;
}

.detail {
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  color: #333;
}

.detailunknown {
  width: 100%;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  color: #858585;
}

.grouparound {
  display: flex;
  flex-direction: column; /* 縦並びにする */
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.groupdetail {
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  color: #747474;
}

.group {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.locationaround {
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.locationdetail {
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  color: #747474;
}

.location {
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #e0e0e0;
}

.locationunknown {
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  color: #858585;
  border-bottom: 1px solid #e0e0e0;
}

.urlzone {
  display: flex;
  flex-direction: column; /* 縦並びにする */
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f7f7f7;
}

.urldetail {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: #5a5a5a;
}

.urlmessagedetail {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: #5a5a5a;
}

.groupnumber {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
  color: #5a5a5a;
}

.creater {
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  color: #727272;
}

.copybutton1 {
  width: 80px;
  height: 2.4em;
  padding: 0 16px;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #ccc inset;
}

.copybutton1:hover {
  background-color: #ccccccfd;
}

.copybutton1:active {
  background-color: rgb(175 175 175);
}

.btn {
  padding: 10px;
  margin-top: 20px;
  color: #000;
  background-color: #d3def1;
  border-bottom: 5px solid #a3bee9;
}

.btn:hover {
  margin-top: 23px;
  background: #c6d6f0;
  border-bottom: 2px solid #c6d6f0;
}

.btntext {
  font-size: 1.5em;
  color: black;
}

@media (max-width: 902px) {
  .urlinput {
    width: 100%;
  }

  .urlarea {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .timearound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
  }

  .container {
    width: 226px;
  }

  .to {
    display: none;
  }
}
