
.eventCards {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card strong {
  font-size: 18px;
}

.event-card p {
  margin: 10px 0;
}

.involved {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
