.eventCards {
  width: 40%;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

@media (max-width: 1270px) {
  .eventCards {
    width: 520px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  }
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.eventcard p {
  margin: 10px 0;
}

.involved {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  background-color: #f5f5f5;
}

.headerup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  width: 40%;
}

@media (max-width: 1270px) {
  .header {
    width: 520px;
  }
}

.flag {
  margin-top: 20px;
  font-size: 15px;
}

.uptitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.link {
  color: #047400;
}

@media (max-width: 550px) {
  .eventCards {
    width: calc(100% - 20px);
  }

  .header {
    width: 100%;
    padding-left: 10px;
  }
}
